{% extends '_layouts/cp' %}
{% set title = 'Entries Scheduler'|t('craft-webhook-scheduler') %}
{% import '_includes/forms' as forms %}


{% block content %}

		<h2>Create Webhook</h2>

		{% macro errorList(errors) %}
			{% if errors %}
				{{ ul(errors, {class: 'errors'}) }}
			{% endif %}
		{% endmacro %}

		<form method="post" action="" accept-charset="UTF-8">
			{{ csrfInput() }}
			{{ actionInput('craft-webhook-scheduler/default/save') }}

		{{ forms.selectField({
			first: true,
			label: 'Site'|t('craft-webhook-scheduler'),
			id: 'site-id',
			name: 'siteId',
			options: sites,
			required: true,
		}) }}

		{{ forms.textField({
			first: true,
			label: 'Webhook Url'|t('craft-webhook-scheduler'),
			required: true,
			placeholder: 'https://',
			id: 'webhook-url',
			name: 'webhookUrl',
		})}}

	<button type="submit" class="btn btn-success"> {{ 'Save'|t('craft-webhook-scheduler') }} </button>
</form>

		{% if webhooks|length %}
		<hr>
		<h2>Webhooks</h2>
    <table class="data fullwidth table-responsive">
      <thead>
        <tr>
          <th>{{ 'Site'|t('craft-webhook-scheduler') }}</th>
          <th>{{ 'Webhook URL'|t('craft-webhook-scheduler') }}</th>
          <th>{{ 'Last Run'|t('craft-webhook-scheduler') }}</th>
          <th>{{ 'Actions'|t('craft-webhook-scheduler') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for webhook in webhooks %}
          <tr data-id="{{ webhook.id }}">
            <th>{{ webhook.siteName }}</th>
            <th>{{ webhook.webhookUrl }}</th>
            <th>{{ webhook.lastRun }}</th>

            <td class="actions" style="width: 100%;">
              <a class="btn error delete-webhook-btn"
								 data-id="{{ webhook.id }}"
                 data-confirm="{{ 'Are you sure you want to delete the webhook “{name}”?'|t('webhooks', {name: webhook.webhookUrl}) }}"
              >
              {{ 'Delete Webhook'|t('craft-webhook-scheduler') }}
              </a>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="zilch">
      <p>{{ 'No webhooks exist yet.'|t('webhooks') }}</p>
    </div>
  {% endif %}
{% endblock %}
